html {
    background-color: rgb(34, 33, 33);
    margin: 0;
    padding: 0;
    color: white;
}

#home{
    height: 100vh;
}
.button {
    background-color: transparent;
    color:#fff;
    border-radius: 4px;
    width: 10vw;
    padding: 1%;
    font-size: 100%;
    border: 1px solid #fff;
    
}

.button:hover{
    cursor: pointer;
    background-color: #284bad;
    border: 1px solid transparent
}
  
/* Tag Cloud */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');


.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.tagcloud--item {
    color: #4794f8;
    text-transform: uppercase;
}

.tagcloud--item:hover{
    cursor: pointer;
    color:  #284bad;
}

/* About */

.link {
    text-decoration: none;
    color: #4794f8;
}

.link:hover{
    color: #284bad;
    cursor: pointer;
}

.MuiContainer-root{
    padding: 0 !important;
}

/* Footer */

.social-icon {
    color: #fff;
    margin: 0 1.2rem;
}

.social-icon:hover{
    transform: scale(1.2);
}

/* Projects */

.project {
    border-radius: 8px !important;
}


/* Nav */

.nav-icon{
    position: relative;;
    width: 60px;
    height: 50px;
    background-color: #3d393965;
    border-radius: 50%;
    margin: 1rem 0;
}

.nav-icon:hover{
    cursor: pointer;
    background: linear-gradient(90deg,
    rgba(9,2,102,1) 0%,
    rgba(9,9,121,1) 35%,
    rgba(67,26,164,1) 65%,
    rgba(98,29,204,1) 94%);
}

.nav-pic{
    color: #fff;
}

.burger {
    content: "-";
}

#hamburger{
    display: none;
}

/* Scroll */

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4794f8;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  @media screen and (max-width: 600px) {
    .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 0 auto;
    width: 90vw !important;
    height: 450px !important;
    }
    .overlay button {
        display: hidden;
      }
    .button {
        width: 20vw;
    }
    .button:hover{
        background-color: transparent;
        border: 1px solid #fff;
    }
    .nav-icon {
        display: none;
    }
    #hamburger{
        display: flex;
    }
    #navs{
        display: none;
    }
    #home{
        align-items: normal;
    }
    .buzz{
        font-size: 1.2rem !important;
    }
    .buzz-caption{
        font-size: .8rem !important;
    }
  }

