html {
    background-color: rgb(34, 33, 33);
    color: white
}


/* Tag Cloud */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');


.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.tagcloud--item {
    color: #4794f8;
    text-transform: uppercase;
}

.tagcloud--item:hover{
    cursor: pointer;
    color:  #284bad;
}

/* About */

.link {
    text-decoration: none;
    color: #4794f8;
}

.link:hover{
    color: #284bad;
}

/* Footer */

.social-icon {
    color: #fff;
    margin: 0 1.2rem;
}

.social-icon:hover{
    color: #4794f8;
    transform: scale(1.2);
}

/* Projects */

.project {
    border-radius: 8px;
}

.overlay{
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fcfcfc7b;
    z-index: 999;
    opacity: 0;
    border-radius: 8px;
}

.overlay:hover{
    opacity: 1;
}

.overlay a {
    margin: 0 auto
}

.overlay a:hover{
    cursor: default;
}

.overlay button {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    padding: 6%;
    background-color: #284bad;
    color: #fff;
    font-weight: 500;
}

.overlay button:hover{
    cursor: pointer;
    background-color: #4794f8;
}